<div class="movie-detail mt-4">
  <div class="container">
    <h3 class="breadcrumb pl-0">
      Trang chủ >
      <span> {{movie.name}}</span>
    </h3>
    <div class="row">
      <div class="col-md-3">
        <div class="movie-detail_img">
          <img src="{{movie.img}}" alt="{{movie.name}}" />
        </div>
      </div>
      <div class="col-md-9">
        <h1 class="movie-detail_name mb-4">{{movie.name}}</h1>
        <p class="movie-detail_summary mb-4">{{movie.summary}}</p>
        <div class="movie-detail_info d-flex">
          <div class="col-md-3 pl-0"><span>ĐẠO DIỄN:</span></div>
          <div class="col-md-9">{{movie.director}}</div>
        </div>
        <div class="movie-detail_info d-flex">
          <div class="col-md-3 pl-0"><span>diễn viên:</span></div>
          <div class="col-md-9">{{movie.actor}}</div>
        </div>
        <div class="movie-detail_info d-flex">
          <div class="col-md-3 pl-0"><span>thể loại:</span></div>
          <div class="col-md-9">{{movie.category}}</div>
        </div>
        <div class="movie-detail_info d-flex">
          <div class="col-md-3 pl-0"><span>thời lượng:</span></div>
          <div class="col-md-9">{{movie.time}}</div>
        </div>
        <div class="movie-detail_info d-flex">
          <div class="col-md-3 pl-0"><span>ngôn ngữ:</span></div>
          <div class="col-md-9">{{movie.language}}</div>
        </div>
        <div class="movie-detail_info d-flex">
          <div class="col-md-3 pl-0"><span>ngày khởi chiếu:</span></div>
          <div class="col-md-9">{{movie.releaseDay}}</div>
        </div>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col-md-12 tab">
        <div class="movie-detail_tabs d-flex">
          <a href="/movies/{{movie.slug}}/7-1">
          <div id="7" class="tab-item">
            7/1
          </div>
          </a>
          <a href="/movies/{{movie.slug}}/8-1">
          <div id="8" class="tab-item">
            8/1
          </div>
          </a>
          <a href="/movies/{{movie.slug}}/9-1">
          <div id="9" class="tab-item">
            9/1
          </div>
          </a>
          <a href="/movies/{{movie.slug}}/10-1">
          <div id="10" class="tab-item">
            10/1
          </div>
          </a>
          <a href="/movies/{{movie.slug}}/11-1">
          <div id="11" class="tab-item">
            11/1
          </div>
          </a>
          <a href="/movies/{{movie.slug}}/12-1">
          <div id="12" class="tab-item">
            12/1
          </div>
          </a>
          <a href="/movies/{{movie.slug}}/13-1">
          <div id="13" class="tab-item">
            13/1
          </div>
          </a>
          <div class="line"></div>
        </div>
        <div class="movie-detail_tab-content">
          <div class="tab-pane active">
            <div class="row">
              <div class="col-md-12">
                <span>2D phụ đề</span>
              </div>
              {{#each showtime}}
                <div class="col-md-2 mt-3 tab-pane_item  text-center">
                  <a href="/booking/{{movie.slug}}/{{this.startAt}}/{{this.day}}" class="btn default showtime ">{{this.startAt}}</a>
                </div>
              {{/each}}
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="trailer pb-5">
  <div class="container">
    <div class="title-show">
      <h2 class="text-center trailer_title pt-5 pb-4">
        trailer
      </h2>
    </div>
    <div class="trailer_video text-center">
      <iframe
        width="100%"
        height="600px"
        src="https://www.youtube.com/embed/{{movie.trailerId}}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<script>
    const $ = document.querySelector.bind(document)
    const $$ = document.querySelectorAll.bind(document)
    const showtime = $$('.showtime')
    const tabs = $$('.tab-item')
                      const panes = $$('.tab-pane')

    const tabActive = $('.tab-item.active')
    const line = $('.line')

    line.style.width = tabActive.offsetWidth + "px";
    line.style.left = tabActive.offsetLeft + "px";

    tabs.forEach((tab, index) => {
        const pane = panes[index]
        tab.onclick = function (e) {
           
            $('.tab-item.active').classList.remove('active')
            $('.tab-pane.active').classList.remove('active')

            line.style.width = this.offsetWidth + "px";
            line.style.left = this.offsetLeft + "px";
            
            this.classList.add('active')
            pane.classList.add('active')
        }
    })

</script>