<div class="container">
  <div class="mt-4">
    <h3 class="title-admin">Sửa phim</h3>
    <a  class="d-block mb-3 action-item" href="/me/stored/showtimes">Danh sách suất chiếu &#8594;</a>
    <form class="mx-auto col-lg-6" method="POST" action="/showtimes/{{showtime._id}}?_method=PUT">
      <div class="form-group">
        <label for="day">Ngày</label>
        <input type="text" class="form-control" value="{{showtime.day}}" id="day" name="day" />
      </div>
      <div class="form-group">
        <label for="startAt">Giờ bắt đầu</label>
        <input type="text" class="form-control" value="{{showtime.startAt}}" id="startAt" name="startAt" />
      </div>
      <div class="form-group">
        <label for="endAt">Giờ kết thúc</label>
        <input type="text" class="form-control" value="{{showtime.endAt}}" id="endAt" name="endAt" />
      </div>
      <div class="form-group">
          <label for="movieId">Chọn phim</label>
          <select required class="form-control" id="movieId" name="movieId">
            {{#each movie}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
          </select>
      </div>
      <div class="form-group">
          <label for="roomId">Chọn phim</label>
          <select required class="form-control" id="roomId" name="roomId">
            {{#each room}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
          </select>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>