<div class="container">
  <div class="mt-4 mb-5">
    <div class="trash">
      <h3 class="title-admin">Danh sách người dùng</h3>
      <div class="action mb-3">
        <a class="mr-3 action-item" href="/me/trash/users">Người dùng đã xóa({{deletedCount}}) &#8594;</a>
      </div>
    </div>
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên</th>
          <th scope="col">Tài khoản</th>
          <th scope="col">SĐT</th>
          <th scope="col" colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        {{#each register}}
          <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.fullname}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>
              <a
                href=""
                class="btn btn-link"
                data-toggle="modal"
                data-target="#deleteUserModal"
                data-id="{{this._id}}"
              >Xóa</a>
            </td>
          </tr>
          {{else}}
          <tr>
            <td colspan="5" class="text-center">
              Chưa có người dùng!
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{! Confirm Delete }}

  <div id="deleteUserModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xóa người dùng ?</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bạn chắc chắn muốn xóa người dùng này?</p>
        </div>
        <div class="modal-footer">
          <button
            id="btn-delete-user"
            type="button"
            class="btn btn-danger"
          >Xóa bỏ</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Hủy</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- Delete-hidden-form --}}
<form method="POST" name="delete-user-form"></form>

<script>
  document.addEventListener("DOMContentLoaded", function() { 
    var userID ;
    var deleteForm=document.forms['delete-user-form'];
    var btnDeleteUser = document.getElementById('btn-delete-user'); 

    //When delete confirm click
    $('#deleteUserModal').on('show.bs.modal', function (event) { 
      var button =$(event.relatedTarget) 
      userID = button.data('id') }); 
    //When delete course btn click 
    btnDeleteUser.onclick=function() { deleteForm.action='/users/'+userID +'?_method=DELETE'; 
    deleteForm.submit(); } 
  });

</script>